<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test Project</title>

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <!-- Custom styles for this template -->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<style type="text/css">
    #sst
    {
        float: right;
        margin-top: -2%;
    }
</style>
</head>
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">New Order</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form > {% csrf_token%}
        <div class="modal-body">
                <div class="form-group row">
                                    <div class="col-sm-4 mb-3 mb-sm-0">
                                        <label>Product Name</label>
                                        <select class="form-control" id="pname" name="pname" required>
                                           <option selected="" value="">Select</option>
                                          {% for i in item %} <option value="{{i.id}}">{{i.ProductName}}</option>{% endfor %}
                                           <!-- <option>Quintel</option> -->
                                       </select>
                                    </div>
                                    <div class="col-sm-4">
                                    <label>From Trader</label>
                                       <select class="form-control" id="ftrd" name="ftrd" required>
                                           <option selected="" value="">Select</option>
                                          <!-- {% for i in item %} <option value="{{i.id}}">{{i.ProductName}}</option>{% endfor %} -->
                                       </select>
                                    </div>
                                    <div class="col-sm-4">
                                         <label>Available Quantity</label>
                                         <input type="text" id="aqty" name="aqty" class="form-control" required="" disabled="">
                                    </div>
                                </div>

                             <div class="form-group row">
                                   <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>To Trader</label>
                                         <select class="form-control" id="ttrd" name="ttrd" required>
                                           <option selected="" value="">Select</option>
                                          {% for i in cust %} <option value="{{i.id}}">{{i.TrdName}}</option>{% endfor %}
                                       </select>
                                    </div>
                                   <div class="col-sm-4">
                                         <label>Quantity</label>
                                         <input type="text" id="qty" name="qty" class="form-control" required="">
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Price</label>
                                         <input type="text" id="price" name="price" class="form-control" required="">
                                         <input type="text" id="price1" name="price1" class="form-control"hidden>
                                    </div>
                                </div>
                            <div class="form-group row">
                                   <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label>Other Value</label>
                                    <input type="text" id="oth" name="oth" class="form-control" required="">
                                        </div>
                                   <div class="col-sm-4">
                                         <label>Vehical Type</label>
                                          <select class="form-control" id="vehtyp" name="vehtyp" required>
                                           <option selected="" value="">Select</option>
                                          <option>Rent</option>
                                          <option>Own</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Vehicle No</label>
                                         <input type="text" id="vehno" name="vehno" class="form-control" required="">
                                    </div>
                                </div>

                              <button class="btn btn-primary" id="neworder" type="submit" style="margin-left:45%">Submit</button>
                    </form>
                    </div>
              </div>
              
            </div>
          </div>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Registrations</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/viewcust">Customer Registration</a>
                        <a class="collapse-item" href="/viewitems">Items</a>
                        <a class="collapse-item" href="/vieworder">Orders</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><b>{{a}}</b></span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a> -->
                                <!-- <div class="dropdown-divider"></div> -->
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-2 text-gray-800">Customer Details</h1> -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h5 class="m-0 font-weight-bold text-primary">Order Details</h5>
                            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="sst">New Order</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered tid" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Sl no</th>
                                            <th>Product Name</th>
                                            <th>Quantity</th>
                                            <th>Amount</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Vehical Number</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for i in data %}
                                        <tr id="tr{{i.id}}">
                                            <td>{{forloop.counter}}</td>
                                            <td>{{i.iid.pid.ProductName}}</td>
                                            <td>{{i.Quantity}}</td>
                                            <td>{{i.taxableAmount}}</td>
                                            <td>{{i.iid.cid.TrdName}}</td>
                                            <td>{{i.cid.TrdName}}</td>
                                            <td>{{i.VehicleNo}}</td>
                                            <td>
                                                <a  id='edit' href="/editorder/?eid={{i.id}}" style="color:#808080"><span class='fas fa-edit'></span></a>&emsp;<a  id='dels' href="/downloadfile/?eid={{i.id}}" ><span class='fas fa-download'></span></a>&emsp;<a  id='dels' onclick='delorderr({{i.id}})' ><span class='fas fa-trash'></span></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logoutfun/">Logout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
     <script src="/static/js/sweetalert.min.js"></script>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>
    <script src="https://rawcdn.githack.com/FuriosoJack/TableHTMLExport/v2.0.0/src/tableHTMLExport.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
    <script src="https://gist.github.com/adimancv/bc805af3b7fd9e015584c0f061b4206c.js"></script>

<script type="text/javascript">
     $("#pname").change(function(e) {
        
      var pid = $(this).val();
    $.ajax({
      method: "GET",
      url: "/selectproduct/",
      data: {
             pid: pid},
            datatype:'json',
          success: function(data) 
              { 
             var options =""
            // $('#ftrd').find('option').remove(); 
            $.each(data.a, function(i=1, value) {
                     $('#ftrd').append('<option value="'+ value.id+'">'+ value.TrdName +'</option>');
                });
              
          },
        })
        return false;
      });

     $("#ftrd").change(function(e) {
        e.preventDefault()
      var pid = $("#pname").val();  
      var ftrd = $("#ftrd").val();
    $.ajax({
      method: "GET",
      url: "/getprice/",
      data: {
             pid: pid,
             ftrd:ftrd
         },
            datatype:'json',
          success: function(data) 
              { 
             document.getElementById('aqty').value=data.a
             document.getElementById('price').value=data.b
             document.getElementById('price1').value=data.b
              
          },
        })
        return false;
      });

$("#qty").change(function(e) {
    e.preventDefault();
      var qty = $("#qty").val();  
      var price = $("#price1").val();
      var tot=Number(qty)*Number(price)
      document.getElementById('price').value=tot
      return true;
      }); 

     $("#neworder").click(function(e){
        e.preventDefault();
        var data=new FormData($('form')[0]);
        var totalRowCount = 0;
        var rowCount = 0;
        var table = document.getElementById("dataTable");
        var rows = table.getElementsByTagName("tr")
        for (var i = 0; i < rows.length; i++) {
            totalRowCount++;
            if (rows[i].getElementsByTagName("td").length > 0) {
                rowCount++;
            }
        }
        nc=rowCount+1
        $.ajax({
          type:'POST',
          url:'/addorder/',
          data:data,
          contentType:false,
          processData:false,
          datatype:'json',
          success: function(data) 
              {
               swal('Saved', {
            buttons: false,
            timer: 1000,})
               $('.tid tbody').append("<tr><td>"+nc+"</td><td>"+data.b+"</td><td>"+data.c+"</td><td>"+data.d+"</td><td>"+data.e+"</td><td>"+data.f+"</td><td>"+data.g+"</td><td><a  id='edit' onclick='editorder("+data.c+")' ><span class='fas fa-edit'></span></a>&emsp;<a  id='edit' onclick='functions("+data.c+")' ><span class='fas fa-download'></span></a>&emsp;<a  id='dels' onclick='delorderr("+data.c+")' ><span class='fas fa-trash'></span></a></td</tr>")
               document.getElementById('ftrd').value=""
               document.getElementById('ttrd').value=""
               document.getElementById('aqty').value=""
               document.getElementById('qty').value=""
               document.getElementById('price').value=""
               document.getElementById('price1').value=""
               document.getElementById('vehno').value=""
               document.getElementById('vehtyp').value=""
               document.getElementById('oth').value=""
               document.getElementById('pname').value=""
          },
        })
        return false;

      });
function delorderr(id)
     {
        swal({
      title: 'Delete!',
      text: 'Are you sure you want to delete!',
      icon: 'warning',
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        $.ajax({
          type:'GET',
          url:'/delorder/',
          data:{
            delid:id,
          },
          success: function(data) 
              {
            //     swal("Deleted", {
            // buttons: false,
            // timer: 1000,})
                location.reload();
                // $(".tr"+id).remove()
          }
        })
     
      } else {
      // swal('Jobcard is safe!');
      }
    });
     }

function downloadfile(id)
{

     $.ajax({
          type:'GET',
          url:'/downloadorder/',
          data:{
            did:id,
          },
          success: function(data) 
              {
                $(".tid"+id).tableHTMLExport({
                    type:'json',
                    filename:'sample.json'
                })
          }
      });
}
</script>

</body>

</html>